---
import { Picture } from 'astro:assets'

export interface CardProps {
  item: any
}

const { item, hideOnMobile, showDetails } = Astro.props
---

<div class={'break-inside-avoid relative flex-col rounded-xl border border-zinc-700 p-1 mb-4 ' + (hideOnMobile ? 'hidden lg:flex' : 'flex')}>
  <Picture class='object-cover rounded-lg mask-image-card' src={item.image} alt={item.title} width={500} height={279} />
  <div class='px-3 py-4'>
    <h3 class='text-primary font-semibold text-lg'>{item.title}</h3>
    <p class='text-pretty text-sm text-zinc-300 font-light mt-2'>{item.description || ''}</p>
    {
      showDetails && (
        <div class='flex gap-1 flex-wrap mt-6 text-sm'>
          {item.tags.map((tag: string) => (
            <span class='bg-zinc-800 rounded-lg px-2 py-1 text-white cursor-default'>{tag}</span>
          ))}
        </div>
      )
    }
  </div>
  {
    (item.githubUrl || item.url) && showDetails && (
      <div class='flex mt-auto'>
        {item.githubUrl && (
          <div class='mr-auto px-3 pb-5 pt-3'>
            <a
              href={item.githubUrl}
              target='_blank'
              rel='noreferrer'
              class='text-sm font-semibold px-4 py-2 border border-zinc-700 cursor-pointer rounded-md hover:bg-zinc-900'
            >
              Ver código
            </a>
          </div>
        )}
        <div class='ml-auto px-3 pb-5 pt-3'>
          {item.url && (
            <a
              href={item.url}
              target='_blank'
              rel='noreferrer'
              class='text-sm font-semibold px-4 py-2 border border-zinc-700 cursor-pointer rounded-md hover:bg-zinc-900'
            >
              Visitar sitio
            </a>
          )}
        </div>
      </div>
    )
  }
</div>

<style>
  .mask-image-card {
    mask-image: linear-gradient(#000 20%, transparent);
  }
</style>
