---
import { Image, Picture } from 'astro:assets'
import Container from './utils/Container.astro'
import TitleWithLine from './utils/TitleWithLine.astro'
import externalLinkIcon from '@assets/icons/external-link.svg'

const TESTIMONIALS = [
  {
    name: 'Roger Robinson',
    position: 'Product Manager',
    testimonial:
      'Dentro de nuestro equipo de desarrolladores, Abel siempre era el más confiable. Al dar una tarea o proyecto a Abel, él primero planificaba bien, haciendo las investigaciones necesarias. Luego lo completaba con agilidad, entregando un producto que en su primer borrador ya estaba casi listo para lanzar. Abel casi nunca cometía errores, por su diligente ética de estudiar bien los problemas antes de saltar a una solución. Abel posee una creatividad para solucionar problemas que nunca dejó de asombrarnos, a la vez haciendo más fácil mi vida como su jefe. Cuando surgía una tarea o proyecto especialmente importante para la empresa, entre los gerentes decíamos: “démosla a Abel.”',
    image: import('@assets/images/testimonials/roger.jpeg')
  },
  {
    name: 'Víctor Navarro',
    position: 'Senior Software Engineer Backend',
    testimonial:
      'Abel es una persona muy esforzada, que se enfoca en la resolución de objetivos tanto en los proyectos que participamos como personales. Se capacita constantemente y tiene ganas de aprender todos los días. Es una persona entusiasta, muy agradable y que demuestra mucho compromiso con su equipo. Fue un agrado haber compartido con Abel mientras estuve en Cocha, es un ingeniero y un hombre de calidad, tanto técnica como humana.',
    image: import('@assets/images/testimonials/victor.jpeg')
  }
]
---

<Container>
  <section id='testimonials' class='py-6 md:py-10'>
    <TitleWithLine>Testimonios</TitleWithLine>
    <a
      href='https://www.linkedin.com/in/ransilad/details/recommendations/'
      target='_blank'
      rel='noreferrer'
      class='flex flex-row gap-2 italic text-sm text-primary -mt-9 w-fit'
    >
      Ver en LinkedIn
      <span><Picture src={externalLinkIcon} alt='Icono de un enlace externo' width='20' /></span>
    </a>
    <div class='mt-12 flex flex-col gap-6'>
      {
        TESTIMONIALS.map((testimonial) => (
          <div class='rounded-xl border border-zinc-800 flex flex-col md:flex-row overflow-hidden'>
            <div class='relative w-full md:w-56'>
              <Picture class='w-full rounded-[30px] p-6' src={testimonial.image} formats={['avif', 'webp']} alt={'Foto de perfil de ' + testimonial.name} />
              <Image
                class='absolute inset-0 opacity-20 transform-gpu blur-md -z-10 block object-cover w-full aspect-square'
                src={testimonial.image}
                alt={'Foto de fondo del perfil de ' + testimonial.name}
                quality={100}
              />
            </div>
            <div class='flex-1 flex flex-col p-6'>
              <p class='text-pretty font-light text-zinc-400 md:mb-4 mt-6 md:mt-0 order-2 md:order-none'>{testimonial.testimonial}</p>
              <p class='text-primary font-semibold mt-auto md:text-right'>{testimonial.name}</p>
              <p class='text-sm font-semibold md:text-right'>{testimonial.position}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Container>
