---
import { Picture } from 'astro:assets'
import Container from './utils/Container.astro'
import TitleWithLine from './utils/TitleWithLine.astro'
import externalLinkIcon from '@assets/icons/external-link.svg'

const TESTIMONIALS = [
  {
    name: 'Roger Robinson',
    position: 'Product Manager',
    testimonial:
      'Dentro de nuestro equipo de desarrolladores, Abel siempre era el más confiable. Al dar una tarea o proyecto a Abel, él primero planificaba bien, haciendo las investigaciones necesarias. Luego lo completaba con agilidad, entregando un producto que en su primer borrador ya estaba casi listo para lanzar. Abel casi nunca cometía errores, por su diligente ética de estudiar bien los problemas antes de saltar a una solución. Abel posee una creatividad para solucionar problemas que nunca dejó de asombrarnos, a la vez haciendo más fácil mi vida como su jefe. Cuando surgía una tarea o proyecto especialmente importante para la empresa, entre los gerentes decíamos: “démosla a Abel.”',
    image: import('@assets/images/testimonials/roger.jpeg')
  },
  {
    name: 'Víctor Navarro',
    position: 'Senior Software Engineer Backend',
    testimonial:
      'Abel es una persona muy esforzada, que se enfoca en la resolución de objetivos tanto en los proyectos que participamos como personales. Se capacita constantemente y tiene ganas de aprender todos los días. Es una persona entusiasta, muy agradable y que demuestra mucho compromiso con su equipo. Fue un agrado haber compartido con Abel mientras estuve en Cocha, es un ingeniero y un hombre de calidad, tanto técnica como humana.',
    image: import('@assets/images/testimonials/victor.jpeg')
  },
  {
    name: 'Salvador Saavedra',
    position: 'Frontend Developer',
    testimonial:
      'He tenido varias oportunidades de trabajar con Abel, y puedo decir que su enfoque al desarrollo es excepcional. No solo domina técnicamente las herramientas y frameworks, sino que también tiene una capacidad increíble para resolver problemas y aportar soluciones. Abel siempre mostró disposición para colaborar y compartir su conocimiento con el equipo, lo que generó un ambiente de trabajo más productivo y motivador. Su capacidad de organización y compromiso con los plazos de entrega lo convierten en un profesional confiable y altamente competente. Sin dudas, Abel aporta valor y asegura resultados de calidad en cualquier proyecto o equipo.',
    image: import('@assets/images/testimonials/alfredo.jpg')
  }
]
---

<Container>
  <section id='testimonials' class='py-6 md:py-10 relative'>
    <div class='-z w-64 blur-[400px] h-60 rounded-full bg-primary/60 absolute pointer-events-none select-none top-96 right-6 md:right-64'></div>
    <TitleWithLine>Testimonios</TitleWithLine>
    <a
      href='https://www.linkedin.com/in/ransilad/details/recommendations/'
      target='_blank'
      rel='noreferrer'
      class='flex flex-row gap-2 italic text-sm text-primary -mt-9 w-fit'
    >
      Ver en LinkedIn
      <span><Picture src={externalLinkIcon} alt='Icono de un enlace externo' width={16} height={16} /></span>
    </a>
    <div class='mt-12 flex flex-col gap-6'>
      {
        TESTIMONIALS.map((testimonial) => (
          <article class='rounded-xl border border-zinc-700 flex flex-col overflow-hidden p-5 md:p-8'>
            <p class='md:text-pretty font-light text-zinc-300 mb-4 mt-0 text-sm md:text-base'>{testimonial.testimonial}</p>
            <div class='flex flex-row gap-4 items-center ml-auto w-full'>
              <div class='flex-1'>
                <p class='text-primary font-semibold mt-auto md:text-right'>{testimonial.name}</p>
                <p class='text-sm font-semibold md:text-right'>{testimonial.position}</p>
              </div>
              <Picture
                class='size-12 rounded-full'
                src={testimonial.image}
                formats={['avif', 'webp']}
                alt={'Foto de perfil de ' + testimonial.name}
                width={48}
                height={48}
              />
            </div>
          </article>
        ))
      }
    </div>
  </section>
</Container>
